*{
    padding:0%;
    margin: 0px;
}
.container{
    .navbar{
        margin: 0px;  
        border: 2px solid rgba(0, 0, 0, 0.699);
        border-radius: 10px;
        background-color: rgb(251, 251, 251);
        #centre{
            padding:10px 10px;
            margin-left: 0px;
            /* text-align:center; */
            font-size: 30px;
            margin: 0px 0px 0px 550px;
           
            a{
                font-weight: bold;
                margin: 10px;
                text-decoration: none;
                text-transform: capitalize;
            }
            #left{
                margin-top: 30px;
                margin: 0px 0px 0px 310px;
            }
        }
    }
    /* img{
        margin: 300px;
    } */
    h1{
        font-size: 59px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        padding: 20px;
        text-transform: capitalize;
    }
    #navigator{
        margin-left: 430px ;
        font-size: 30px;
        a{
            text-align: center;
            text-decoration:none;
            margin: 0px 0px 0px 20px ;
            text-transform: capitalize;
            font-weight: bold;
        }
        br{
            border: 5px solid black;
        }
    }
    .content{
        border: 3px solid rgba(105, 30, 9, 0);
        margin: 0px 00px 0px 00px;
        text-align: center;
        #img{
            border: 5px solid rgba(68, 3, 3, 0.699);
            padding: 8px;
            border-radius: 15px;

        }
        h2{
            font-size: 40px;
            text-transform: capitalize;
            color: blueviolet;
        }
        p{
            text-align: justify;
            font-size: 20px;
            margin:0px 450px 0px 450px;
            padding: 8px;
        }
        h3{
            color: red;

        }
       hr{
        color: red;
        size: 10px;
       }
       h5{
        padding: 5px;
        font-size: 15px;
       }
    }
    .footer{
        
        background-color: rgb(8, 8, 125);
        border: 1px solid #fcfafa;
        a{
            margin: 0px 0px 0px 700px;
            font-size: 60px;
            color: aliceblue;
        }
        h1{
            color: white;
            font-size: 50px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
    .follow{
        padding: 10px;
        background-color: rgb(16, 16, 143);
        color: white;
        font-size: 40px;
        h2{
            text-transform: capitalize;
            text-align: center;
            font-size: 30px;
        }
        color: #fcfafa;
        a{
            color: #fcfafa;
        }
        #left{
                margin-top: 30px;
                margin: 0px 0px 0px 670px;
                
        }
    }

}