div{
    background: #c08c8c;
    color: rgb(227, 227, 227);
    h1{
        color: rgb(220, 220, 220);
        text-align: center;
        text-decoration: double;
    }
    h4{
        color: rgb(250, 250, 250);
        text-align:justify;
        text-decoration:aqua; 
    }
    p{
        color: rgb(244, 244, 244);
        text-align:justify;
        text-decoration:aqua; 
    }
     #on {
        text-align: center;
        color-scheme: inherit;
        color: green;
        font-size: 20px;
        font-weight: bold;
        background: #55ad65;

    }

    #sb{
        text-align: center;
        color-scheme: inherit;
        color: rgb(252, 252, 252);
        font-size: 20px;
        font-weight: bold;
        background: #ff8f06;
    }
}