h1{
    border: 20px solid #000;
    text-align: center;
    font-size: 50px;
    padding:  100px 200px 2px;
    color: rgb(162, 94, 94);
}
img{
    border: 50px solid blueviolet;
    padding: 20px;
    border-radius: 20px;
    margin: 50px;
}